{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import", "react-hot-loader/babel"]
}
